<div class="row">
  <footer>
    <div style="background: white;height: 40px"></div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <span style="color: orange;font-size: 20px">Hướng Dẫn Di Chuyển</span><br>
            <p class="text-justify"> Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những
              điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa
              Thế giới được UNESCO công nhận:</p>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <a style="font-size: 15px;color: crimson" target="_blank"
                 href="https://goo.gl/maps/Jzj1stNsQAw2wBLL9">
                <button class="btn btn-info btn-outline-secondary" style="color: white;font-size: 10px;margin-top: 80px"><span
                  class='bi bi-pin-map'></span> XEM BẢN ĐỒ
                </button>
              </a>
            </div>
            <div class="col-lg-10 img-fluid">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14789.672769972303!2d105.568023!3d9.682084!3m2!1i1024!2i768!4f13.1!5e1!3m2!1svi!2s!4v1665648945553!5m2!1svi!2s" width="470" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3">
          <ul class="footer-links">
            <li><a href="https://furamavietnam.com/vi/furama-resort-danang-rack-rate/" target="_blank">Giá công
              bố</a>
            </li>
            <hr>

            <li><a href="https://furamavietnam.com/vi/lifestyle-blog/" target="_blank">Lifestyle Blog</a></li>

            <hr>

            <li><a href="https://furamavietnam.com/vi/work-with-us/" target="_blank">Tuyển dụng</a></li>
            <hr>
            <li><a href="https://furamavietnam.com/vi/contact/" target="_blank">Liên hệ</a></li>
            <hr>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 style="color: crimson">Liên hệ</h6>
          <ul class="footer-links">
            <li><a style="color: blue"
                   href="https://www.google.com/maps/dir//103+-+105+Vo+Nguyen+Giap+Street,+Khue+My+Ward,
                           +Ngu+Hanh+Son+District,+Danang+City,/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x31420fdbc8cc38ef:
                           0x9a6a3e31121225d2?sa=X&ved=2ahUKEwiKsaaap8b6AhWTc94KHUO2A_0Q9Rd6BAhVEAQ">
              <span class='bi bi-pin-map'></span> <span>103 - 105 Vo Nguyen Giap Street, Khue My Ward,
                        Ngu Hanh Son District, Danang City, Vietnam
                        </span>
            </a></li>
            <hr>
            <li><a href="http://scanfcode.com/contact/" style="color: blue">
              Tel.: 84-97111-8171/888 * Fax: 84-236-3847 666</a></li>
            <hr>
            <li><a href="mailto: phamdat.qn@gmail.com" style="color: blue">
              Email: furama.dn@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div>
          <p class="copyright-text" style="text-align: center">Copyright &copy; 2017 All Rights Reserved
            by Furama

          </p>
        </div>

      </div>
    </div>
  </footer>
</div>
