<div class="row sticky-top">
  <nav class="navbar navbar-expand-lg bg-info text-bg-dark text-danger">
    <a class="navbar-brand" style="margin-left: 15%" routerLink="/">
      Trang chủ
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-5 mb-lg-0">
        <li class="nav-item dropdown m-1 ">
          <a class="nav-link dropdown-toggle navbar-brand" routerLink="/employee" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Nhân viên
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/employee">Danh sách nhân viên</a></li>
            <li><a class="dropdown-item" routerLink="/employee/create">Thêm mới nhân viên</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-1 ">
          <a class="nav-link dropdown-toggle navbar-brand" routerLink="/customer" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Khách hàng
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="/customer">Danh sách khách hàng</a></li>
            <li><a class="dropdown-item" routerLink="/customer/create">Thêm mới khách hàng</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-1 ">
          <a class="nav-link dropdown-toggle navbar-brand" routerLink="/facility" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Dịch vụ
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/facility">Danh sách dịch vụ</a></li>
            <li><a class="dropdown-item" routerLink="/facility/create">Thêm mới dịch vụ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-1 ">
          <a class="nav-link dropdown-toggle navbar-brand" routerLink="/contract" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Hợp đồng
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/contract">Danh sách hợp đồng</a></li>
            <li><a class="dropdown-item" routerLink="/contract/create">Thêm mới hợp đồng</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--            <div class="col-sm-3 navbar-nav me-auto ms-5 mb-lg-0">-->
    <!--            </div>-->
  </nav>
</div>
