<div class="row">
  <h3 style="color: #6a1a21;text-align: center" class=" my-3">CẬP NHẬT KHÁCH HÀNG</h3>
  <div class="d-flex justify-content-center">
    <div class="w-50 border border-2 border-success p-3 rounded"
         novalidate [formGroup]="formGroup">
      <div hidden>
        <input hidden formControlName="id">
      </div>
      <div class="form-group">
        <label for="nameUpdate" class="h6">Tên khách hàng:</label>
        <p style="color: red" *ngIf="formGroup.controls.name.hasError('required')&&formGroup.controls.name.touched">Tên
          không được để trống</p>
        <p style="color: red" *ngIf="formGroup.controls.name.hasError('pattern')&&formGroup.controls.name.touched">Tên
          không đúng định dạng</p>
        <div class="input-group">

          <input type="text" id="nameUpdate" class="form-control"
                 placeholder="Nhập tên khách hàng.." formControlName="name"/>
          <span class="input-group-text"><i
            class="fa-solid fa-person-circle-question"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="birthday" class="h6">Ngày sinh:</label>
        <p style="color: red"
           *ngIf="formGroup.controls.birthday.hasError('invalid18') &&formGroup.controls.birthday.touched">Tuổi không
          được dưới 18</p>
        <p style="color: red"
           *ngIf="formGroup.controls.birthday.hasError('required') &&formGroup.controls.birthday.touched">Ngày sinh
          không được để trống</p>
        <input type="date" id="birthday" class="form-control" formControlName="birthday"/>
      </div>

      <div class="mt-3 form-group">
        <label class="h6">Giới tính:</label>
        <p style="color: red" *ngIf="formGroup.controls.gender.hasError('required')&&formGroup.controls.gender.touched">
          Không được để trống</p>
      </div>
      <div class="d-flex">
        <label class="d-block me-4">
          <input type="radio" value="true" formControlName="gender"/> Nam
          <i class="fa-solid fa-mars"></i>
        </label>

        <label class="d-block me-4">
          <input type="radio" value="false" formControlName="gender"/> Nữ
          <i class="fa-solid fa-venus"></i>
        </label>


      </div>

      <div class="mt-3 form-group">
        <label for="idCardUpdate" class="h6">Số CMND/CCCD:</label>
        <p style="color: red" *ngIf="formGroup.controls.idCard.hasError('required')&&formGroup.controls.idCard.touched">
          Không được để trống</p>
        <p style="color: red" *ngIf="formGroup.controls.idCard.hasError('pattern')&&formGroup.controls.idCard.touched">
          Không đúng định dạng</p>
        <div class="input-group">
          <input type="text" id="idCardUpdate" class="form-control"
                 placeholder="Nhập số CMND/CCCD.." formControlName="idCard"/>
          <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="phoneUpdate" class="h6">Số điện thoại:</label>
        <p style="color: red" *ngIf="formGroup.controls.phone.hasError('required')&&formGroup.controls.phone.touched">
          Không được để trống</p>
        <p style="color: red" *ngIf="formGroup.controls.phone.hasError('pattern')&&formGroup.controls.phone.touched">
          Không đúng định dạng</p>
        <div class="input-group">
          <input type="text" id="phoneUpdate" class="form-control" placeholder="Nhập SĐT.." formControlName="phone"/>
          <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="emailUpdate" class="h6">Email:</label>
        <p style="color: red" *ngIf="formGroup.controls.email.hasError('required')&&formGroup.controls.email.touched">
          Không được để trống</p>
        <p style="color: red" *ngIf="formGroup.controls.email.hasError('email')&&formGroup.controls.email.touched">
          Không đúng định dạng</p>

        <div class="input-group">
          <input type="text" id="emailUpdate" class="form-control" placeholder="Nhập email.." formControlName="email"/>
          <span class="input-group-text"><i
            class="fa-solid fa-envelope-circle-check"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="addressUpdate" class="h6">Địa chỉ:</label>
        <p style="color: red"
           *ngIf="formGroup.controls.address.hasError('required')&&formGroup.controls.address.touched">Không được để
          trống</p>
        <p style="color: red"
           *ngIf="formGroup.controls.address.hasError('pattern')&&formGroup.controls.address.touched">Không đúng định
          dạng</p>

        <div class="input-group">
          <input type="text" id="addressUpdate" class="form-control"
                 placeholder="Nhập địa chỉ.." formControlName="address"/>
          <span class="input-group-text"><i
            class="fa-solid fa-map-location-dot"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label class="h6" for="customerTypeUpdate">Loại khách:</label>
        <p style="color: red"
           *ngIf="formGroup.controls.customerType.hasError('required')&&formGroup.controls.customerType.touched">Không
          được để trống</p>
        <div class="input-group">
          <select id="customerTypeUpdate" class="form-select" formControlName="customerType">
            <option>Member</option>
            <option>Siver</option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
        </div>
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark"
                (click)="giveFormValue()">
          Lưu <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>
    </div>
  </div>

</div>
