<div class="container-fluid">
  <app-header></app-header>
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-10">
              <app-facility-list></app-facility-list>
      <!--<app-facility-update></app-facility-update>-->
<!--      <app-facility-new-form></app-facility-new-form>-->
<!--      <app-customer-list></app-customer-list>-->
<!--      <app-customer-new></app-customer-new>-->
<!--      <app-customer-update></app-customer-update>-->
<!--      <app-contract-list></app-contract-list>-->
<!--      <app-contract-new></app-contract-new>-->
    </div>
    <div class="col-2">
      <app-right></app-right>
    </div>
  </div>

  <app-footer></app-footer>

</div>




